# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables
.env
.env.*  # covers .env.development, .env.local, etc.

# OS and editor junk
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Build output
dist/
build/
coverage/

# PM2 logs
pids/
*.pid

# Misc
*.tgz
